object_type=animal
gene.hunger_threshold=float,6,immutable,.3,.25
gene.thirst_threshold=float,6,mutable,.5,.25
gene.fatigue_threshold=float,6,mutable,.3,.25
gene.sleepiness_threshold=float,6,mutable,.3,.25
gene.health_threshold=float,6,mutable,.3,.25
gene.sex=binary,1,mutable,.3,.25
constant.hunger_change=1 
constant.thirst_change=0.0001
constant.fatigue_change=0.0001
constant.sleepiness_change=0.0001
constant.health_change=0.0001
constant.initial_velocity=0.0
constant.final_velocity=50.0
constant.current_velocity=0.0
constant.max_acceleration_rate=9.8
constant.max_step_distance=1.5
constant.starvation_damage=0.01
constant.dehydration_damage=0.01
constant.max_rotation_speed=90
constant.visual_refresh_rate=5
constant.visual_resolution=16
constant.skin=0.20
constant.muscle=0.35
constant.bone=0.19
constant.fat=0.25
constant.sugar=0.01
constant.starch=0.00
constant.fiber=0.00
constant.water=0.65
constant.skin_metabolism=0.01
constant.muscle_metabolism=0.10
constant.bone_metabolism=0.01
constant.fat_metabolism=0.10
constant.sugar_metabolism=1.00
constant.starch_metabolism=1.00
constant.fiber_metabolism=0.00
constant.mass=4000
constant.size=1
