object_type=animal
gene.sex=binary,1,mutable,.3,.25
gene.hunger_threshold=float,6,immutable,.3,.25
gene.thirst_threshold=float,6,mutable,.5,.25
gene.fatigue_threshold=float,6,mutable,.3,.25
gene.sleepiness_threshold=float,6,mutable,.3,.25
gene.health_threshold=float,6,mutable,.3,.25
constant.hunger_value=-1
constant.thirst_value=-1
constant.fatigue_value=-1
constant.sleepiness_value=-1
constant.health_value=1
constant.hunger_change=0.0001
constant.thirst_change=1
constant.fatigue_change=-0.01
constant.sleepiness_change=0.001
constant.health_change=0.0001
constant.starvation_damage=0.01
constant.dehydration_damage=0.01
constant.initial_velocity=0.0
constant.final_velocity=50.0
constant.current_velocity=0.0
constant.max_acceleration_rate=9.8
constant.max_step_distance=1.5
constant.max_rotation_speed=90
constant.visual_refresh_rate=1
constant.visual_resolution=32
constant.mass=60
constant.size=1
constant.skin_composition=0.16
constant.muscle_composition=0.40
constant.bone_composition=0.16
constant.fat_composition=0.27
constant.sugar_composition=0.01
constant.starch_composition=0.00
constant.fiber_composition=0.00
constant.water_composition=0.65
constant.skin_metabolism=0.10
constant.muscle_metabolism=0.50
constant.bone_metabolism=0.01
constant.fat_metabolism=0.50
constant.sugar_metabolism=1.00
constant.starch_metabolism=1.00
constant.fiber_metabolism=0.00
