<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />  
    </startup>  
  <genomeInfo>  
    <add key="hunger_threshold" value="float,6,immutable,.3,.25,1"/>  
    <add key="thirst_threshold" value="float,6,mutable,.5,.25,1"/> 
    <add key="fatigue_threshold" value="float,6,mutable,.3,.25,1"/>  
    <add key="sleepiness_threshold" value="float,6,mutable,.3,.25,1"/> 
    <add key="health_threshold" value="float,6,mutable,.3,.25,1"/>  
    <add key="hunger_change" value="float,6,mutable,.3,.25,1"/>  
    <add key="thirst_change" value="float,6,mutable,.5,.25,1"/> 
    <add key="fatigue_change" value="float,6,mutable,.3,.25,1"/>  
    <add key="sleepiness_change" value="float,6,mutable,.3,.25,1"/> 
    <add key="health_change" value="float,6,mutable,.3,.25,1"/>  
    <add key="sex" value="binary,1,mutable,.3,.25,1"/> 
  </genomeInfo> 

  <genomeConstInfo> 
    <add key="initial_velocity" value="0.0,1"/>  
    <add key="final_velocity" value="50.0,1"/>
    <add key="current_velocity" value="0.0,1"/>  
    <add key="acceleration_rate" value="0.01,1"/> 
  </genomeConstInfo>  
</configuration>  