genome.max_height=int,10,immutable,.3,.25,1
genome.max_width=int,5,immutable,.3,.25,1
genome.poison=binary,1,immutable,.5,.5,1
genome.fruit_max_size=int,3,immutable,1.0,.2,1
genome.fruit_size_proportion=int,5,immutable,1.0,.2,1
genome.fruit_extremety=float,6,immutable,1.0,.2,1
constant.growth_rate=.2,1
constant.growth_refresh_rate=1000,1
constant.fruit_rate=1000,1
constant.fruit_drop_distance=2,1
constant.healthy_fruit_health_effect=0.1,1
constant.healthy_fruit_nutrition_effect=0.2,1
constant.unhealthy_fruit_health_effect=-0.1,1
constant.unhealthy_nutrition_nutrition_effect=0.0,1
constant.reproduction_age=100,1
constant.skin=0.00,1
constant.muscle=0.00,1
constant.bone=0.00,1
constant.fat=0.00,1
constant.sugar=0.05,1
constant.starch=0.05,1
constant.fiber=0.90,1
constant.water=0.65,1
constant.mass=150,1
constant.size=1,1