genome.hunger_threshold="float,6,immutable,.3,.25,1"
genome.thirst_threshold="float,6,mutable,.5,.25,1"
genome.fatigue_threshold="float,6,mutable,.3,.25,1"
genome.sleepiness_threshold="float,6,mutable,.3,.25,1"
genome.health_threshold="float,6,mutable,.3,.25,1"
genome.hunger_change="float,6,mutable,.3,.25,1"
genome.thirst_change="float,6,mutable,.5,.25,1"
genome.fatigue_change="float,6,mutable,.3,.25,1"
genome.sleepiness_change="float,6,mutable,.3,.25,1"
genome.health_change="float,6,mutable,.3,.25,1"
genome.sex="binary,1,mutable,.3,.25,1"
constant.initial_velocity="0.0,1"
constant.final_velocity="50.0,1"
constant.current_velocity="0.0,1"
constant.acceleration_rate="0.01,1"