genome.hunger_threshold=float,6,immutable,.3,.25,1
genome.thirst_threshold=float,6,mutable,.5,.25,1
genome.fatigue_threshold=float,6,mutable,.3,.25,1
genome.sleepiness_threshold=float,6,mutable,.3,.25,1
genome.health_threshold=float,6,mutable,.3,.25,1
genome.sex=binary,1,mutable,.3,.25,1
constant.hunger_change=-0.0001,1
constant.thirst_change=-0.001,1
constant.energy_change=0.01,1
constant.wakefulness_change=-0.001,1
constant.health_change=0.001,1
constant.initial_velocity=0.0,1
constant.final_velocity=50.0,1
constant.current_velocity=0.0,1
constant.acceleration_rate=0.01,1
constant.starvation_damage=0.01,1
constatn.dehydration_damage=0.01,1
