object_type=item
constant.poison=0.0
constant.skin_composition=0.00
constant.muscle_composition=0.02
constant._composition=0.00
constant.fat_composition=0.00
constant.sugar_composition=0.74
constant.starch_composition=0.06
constant.fiber_composition=0.17
constant.water_composition=0.84
constant.mass=0.25
constant.size=1
constant.height=0.25
constant.displacement=0.0