object_type=animal
quality.genera=primate
gene.sex=binary,1,mutable,.3,.25
gene.variant=binary,1,immutable,.3,.25
gene.hunger_threshold=float,6,immutable,.3,.25
gene.thirst_threshold=float,6,mutable,.5,.25
gene.fatigue_threshold=float,6,mutable,.3,.25
gene.sleepiness_threshold=float,6,mutable,.3,.25
gene.health_threshold=float,6,mutable,.3,.25
constant.hunger_value=0
constant.thirst_value=0
constant.fatigue_value=0
constant.sleepiness_value=0
constant.health_value=1
constant.hunger_change=0.5
constant.thirst_change=0.00001
constant.fatigue_change=0.00001
constant.sleepiness_change=0.00001
constant.health_change=0.0001
constant.starvation_damage=0.01
constant.dehydration_damage=0.01
constant.final_velocity=50.0
constant.max_acceleration_rate=9.8
constant.max_step=2.0
constant.max_rotation=10.0
constant.default_max_reach_x=0.01
constant.default_max_reach_y=-1.3
constant.default_max_reach_z=0.01
constant.visual_refresh_rate=1
constant.visual_resolution=32
constant.mass=60
constant.size=1
constant.height=2.795
constant.displacement=0.0
constant.skin_composition=0.16
constant.muscle_composition=0.40
constant.bone_composition=0.16
constant.fat_composition=0.27
constant.sugar_composition=0.01
constant.starch_composition=0.00
constant.fiber_composition=0.00
constant.water_composition=0.65
constant.skin_metabolism=0.10
constant.muscle_metabolism=0.50
constant.bone_metabolism=0.01
constant.fat_metabolism=0.50
constant.sugar_metabolism=1.00
constant.starch_metabolism=1.00
constant.fiber_metabolism=0.00
