object_type=plant
quality.fruit_type=Apple
gene.max_height=int,10,immutable,.3,.25
gene.max_width=int,5,immutable,.3,.25
gene.poison=binary,1,immutable,.5,.5
gene.fruit_max_size=int,3,immutable,1.0,.2
gene.fruit_size_proportion=int,5,immutable,1.0,.2
gene.fruit_extremety=float,6,immutable,1.0,.2
constant.growth_rate=0
constant.growth_refresh_rate=0
constant.fruit_rate=0
constant.fruit_drop_distance=0
constant.healthy_fruit_health_effect=0
constant.healthy_fruit_nutrition_effect=0
constant.unhealthy_fruit_health_effect=-0
constant.unhealthy_nutrition_nutrition_effect=0
constant.reproduction_age=0
constant.skin=0
constant.muscle=0
constant.bone=0
constant.fat=0
constant.sugar=0
constant.starch=0
constant.fiber=0
constant.water=0
constant.mass=0
constant.size=0
constant.height=0
constant.displacement=0
