object_type=plant
quality.fruit_type=Apple
gene.max_height=int,10,immutable,.3,.25
gene.max_width=int,5,immutable,.3,.25
gene.poison=binary,1,immutable,.5,.5
gene.fruit_max_size=int,3,immutable,1.0,.2
gene.fruit_size_proportion=int,5,immutable,1.0,.2
gene.fruit_extremety=float,6,immutable,1.0,.2
constant.growth_rate=.2
constant.growth_refresh_rate=1000
constant.fruit_rate=1000
constant.fruit_drop_distance=2
constant.healthy_fruit_health_effect=0.1
constant.healthy_fruit_nutrition_effect=0.2
constant.unhealthy_fruit_health_effect=-0.1
constant.unhealthy_nutrition_nutrition_effect=0.0
constant.reproduction_age=100
constant.skin=0.00
constant.muscle=0.00
constant.bone=0.00
constant.fat=0.00
constant.sugar=0.05
constant.starch=0.05
constant.fiber=0.90
constant.water=0.65
constant.mass=150
constant.size=1
constant.height=4
constant.displacement=0
