object_type=item
constant.skin_composition=0.00
constant.muscle_composition=0.00
constant.bone_composition=0.00
constant.fat_composition=0.00
constant.sugar_composition=0.00
constant.starch_composition=0.00
constant.fiber_composition=0.00
constant.water_composition=1.00
constant.mass=0.25
constant.size=1
constant.height=0.25
constant.displacement=0